{extends 'layout.latte'}

{block content}
    <div class="content static-content">
        <div class="row">
            <div class="large-12 columns text-center" id="dead-link">
                <h1>404</h1>
                <img src="/public/img/dead_link.png" alt="" title="">
            </div>
        </div>
    </div>
{/block}