<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laboratory of Mössbauer Spectroscopy</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/public/css/master.css">
</head>
<body>

<header role="banner" id="header">
    <div class="row">
        <div class="large-12 columns">
            <a href="/">
                <img src="/public/img/logo_transparent.png" alt="" title="">
            </a>
        </div>
    </div>
</header>

<nav role="navigation" id="menu">
    <div class="row">
        <div class="large-12 columns">
            <ul id="main-menu">
                <li><a href="" class="active">Home</a></li>
                <li><a href="/about-the-lab">About the lab</a></li>
                <li><a href="/for-students">For students</a></li>
                <li><a href="/for-collaborators">For collaborators</a></li>
                <li><a href="/for-staff">For staff</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

{include #content}

<footer role="contentinfo" id="footer">
    <div class="row">
        <div class="large-6 columns">
            <h2>Contact</h2>
            <p>
                Oddělení Mössbauerovy spektroskopie<br>
                KFNT MFF UK<br>
                V Holešovičkách 2, 180 00 Praha 8<br>
                Tel.: +420 221 912 771, Fax.: +420 221 912 567,<br>
                kohout@mbox.troja.mff.cuni.cz
            </p>
        </div>
        <div class="large-6 columns">
            <h2>Links</h2>
            <ul>
                <li><a href="" target="_blank">External link</a></li>
                <li><a href="" target="_blank">Another External link</a></li>
            </ul>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/public/js/master.js"></script>
</body>
</html>