<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Page Title</title>

    <link rel="stylesheet" href="public/css/master.css">
</head>
<body>

<heade role="banner">
    <div class="row">
        <div class="large-12 columns">
            <a href="/">
                <img src="public/img/logo.gif" alt="" title="">
                <span>
                    Laboratory of Mössbauer Spectroscopy<br>
                    <small>Faculty of Mathematics and Physics,<br>Charles University in Prague</small>
                </span>
            </a>
        </div>
    </div>
</heade>

<nav role="navigation">
    <div class="row">
        <div class="large-12 columns">
            <ul>
                <li>
                    <a href="">Home</a>
                    <a href="">About the lab</a>
                    <a href="">For students</a>
                    <a href="">For collaborators</a>
                    <a href="">For staff</a>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{include #content}

<script type="text/javascript" src="public/js/master.js"></script>
</body>
</html>