<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laboratory of Mössbauer Spectroscopy</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/public/css/master.css?v=4">
    <link rel="stylesheet" href="/public/bower_components/lightbox2/dist/css/lightbox.min.css">
    <link rel="icon" type="image/png" href="/public/img/favicon.png">
    
    <meta name="google-site-verification" content="jaieeyT4_4ZGoE7M365rvPkrrWYTNp0rnwZi66AEldE" />
</head>
<body>
<script>
    (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-96949624-1', 'auto');
    ga('send', 'pageview');
</script>

<header role="banner" id="header">
    <div class="row">
        <div class="large-12 columns">
            <a href="/">
                <img src="/public/img/logo_transparent.png" alt="" title="">
            </a>
        </div>
    </div>
</header>

<nav role="navigation" id="menu">
    <div class="row">
        <div class="large-12 columns">
            <ul id="main-menu" class="js-page-menus">
                {region('MainMenu')}
            </ul>
        </div>
    </div>
</nav>

{include #content}

<footer role="contentinfo" id="footer">
    <div class="row">
        <div class="large-6 columns">
            {region('FooterContact')}
        </div>
        <div class="large-6 columns">
            <h2>Links</h2>
            <ul>
                {region('FooterLinks')}
            </ul>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/public/js/master.js"></script>
<script type="text/javascript" src="/public/bower_components/lightbox2/dist/js/lightbox-plus-jquery.min.js"></script>

{block scripts}{/block}
</body>
</html>