body {
  background: #333;
  font-family: $roboto;
}

#header {
  background: #455a64;
}

// temporary
#logo {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  margin-top: 50px;
  font-size: 24px;
}

#menu {
  min-height: 50px;
  background: #607d8b;
}

#main-menu {
  margin: 0;
  padding: 0;
  li {
    @media #{$medium-up} {
      float: left;
    }
    display: block;
    list-style-type: none;
    a {
      @media #{$medium-up} {
        text-align: center;
        height: 50px;
        line-height: 50px;
      }

      height: 40px;
      line-height: 40px;
      display: block;
      color: #c2ced4;
      font-weight: bold;
      font-size: 15px;
      padding-left: 15px;
      padding-right: 15px;
      transition: 0.1s;
      &:hover, &.active {
        color: #fefefe;
        transition: 0.1s;
      }
    }
  }
}

#showcase {
  //background-color: #eee;
  background: url('../img/congruent_pentagon.png');
  min-height: 400px;
  color: #333;

  p {
    font-size: 18px;
    color: inherit;
  }

  h2 {
    font-weight: bold;
    font-size: 40px;
    color: inherit;
  }
}

.showcase-content {
  padding: 50px 15px;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: none;
  &.alert {
    background: #c95c5c;
    &:hover {
      background: #c95c5c + 20;
    }
  }
}

#calendar {
  background: #fff;
  @media #{$large-up} {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
  }

  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#calendar-heading {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  //background: #2f2d2a + 30;
  background: #2F414A;
  color: #fff;
}

#calendar-content {
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    @media #{$large-up} {
      font-size: 16px;
    }
    display: block;
    list-style-type: none;
    padding: 7px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
  }

  strong {
    width: 60px;
    display: inline-block;
    color: #999;
  }
}

#callout {
  background: #ECE3CA;
  p {
    font-size: 20px;
    padding: 20px 15px;
    margin: 0;
  }

  a {
    position: relative;
    top: -2px;
    padding: 8px;
    font-size: 12px;
    margin: 0;
  }
}

#all-news {
  a {
    font-size: 18px;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

#news {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
}

.article {
  background: #f7f7f7;
  margin-bottom: 30px;
}

.article-header {
  img {
    width: 100%;
    height: 100%;
  }
  h3 {
    font-size: 24px;
    a {
      color: #c95c5c;
      transition: 0.1s;
      &:hover {
        color: #c95c5c - 60;
        transition: 0.1s;
      }
    }
    padding: 15px;
    margin: 0;
  }
  small.article-date {
    font-size: 11px;
    color: #888;
  }
}

.article-section {
  padding: 0 15px;
  p {
    margin: 0;
    padding: 0;
  }
}

.article-footer {
  padding: 15px;
  a {
    margin: 0;
    padding: 8px !important;
    font-size: 11px !important;
    background: #aaa;
  }
}

#footer {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  p {
    margin-top: 15px;
    font-size: 14px;
    color: #ccc;
  }

  ul {
    margin: 15px 0 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    a {
      font-size: 14px;
      color: #ccc;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.news-entry {
  margin-bottom: 30px;
  .th:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
}

.news-perex p {
  font-size: 20px !important;
}

.news-image {
  margin-bottom: 10px;
}

.news-title {
  h2 {
    margin: 0;
    font-size: 20px;
    @media #{$medium-up} {
      font-size: 24px;
    }
    padding: 0;
  }
  a {
    color: #c95c5c;
    transition: 0.1s;
    &:hover {
      color: #8d2020;
      transition: 0.1s;
    }
  }
}

.news-footer {
  @media #{$medium-up} {
    font-size: 1rem;
  }
  font-size: 14px;
  margin-top: 5px;
  color: #999;
}

.news-intro {
  p {
    margin: 0;
  }
}

#breadcrumbs {
  background: #ECE3CA;
  .breadcrumbs {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: inherit;
    li {
      a {
        color: #ECE3CA - 140;
      }
      &.current {
        font-weight: normal;
        a {
          color: #ECE3CA - 120;
        }
      }
      font-size: 11px;
      font-weight: bold;
    }
  }
}

.pagination {
  margin-top: 20px;
  margin-bottom: 40px;
}

.page-heading {
  font-size: 20px;
  text-transform: uppercase;
  color: #aaa;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content {
  background: #fff;
}

.page-menu {
  margin-top: 30px;
}

.page-menu-heading {
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
}

.page-menu-content {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  a {
    padding: 5px 10px;
    font-size: 14px;
    color: #c95c5c;
    &:hover {
      color: #8d2020;
      text-decoration: underline;
    }
    &.active {
      font-weight: bold;
    }
  }
}

.static-content {
  padding-bottom: 50px;
}